<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../../css/main.css" rel="stylesheet" />
    <link href="../../css/p_myPage.css" rel="stylesheet" />
    <title>프로젝트 관리</title>
</head>
<body>
    <!-- Header -->
    <div id="header"></div>

    <div class="wrapper">
        <div class="mypage_container">
            <div class="sidebar_content">
                <div class="profile_box items-center">
                    <div class="user_img_box"><a href="img"></a></div>
                    <button class="grade">등급</button>
                    <div class="user_text">
                        <h2>유저아이디</h2>
                        <p>user1@naver.com</p>
                    </div>
                </div>
                <!-- Sidebar -->
                <div class="sidebar_menu">
                    <ul class="mt-8 space-y-4">
                        <li>    
                            <a href="p_myPage.html" class="flex justify-between items-center textdeco">
                                <span>개인정보 관리</span>
                                <span>&gt;</span>
                            </a>
                        </li>
                        <li>
                            <a href="p_project.html"  class="flex justify-between items-center textdeco">
                                <span>프로젝트 관리</span>
                                <span>&gt;</span>
                            </a>
                        </li>
                        <li class="current-page">
                            <a href="p_skill.html"  class="flex justify-between items-center textdeco">
                                <span>보유기술 관리</span>
                                <span>&gt;</span>
                            </a>
                        </li>
                        <li>
                            <a href="p_portfolio.html"  class="flex justify-between items-center textdeco">
                                <span>포트폴리오 관리</span>
                                <span>&gt;</span>
                            </a>
                        </li>
                        <li>
                            <a href="p_career.html"  class="flex justify-between items-center textdeco">
                                <span>경력 관리</span>
                                <span>&gt;</span>
                            </a>
                        </li>
                        <li>
                            <a href="p_education.html" class="flex justify-between items-center textdeco">
                                <span>학력 관리</span>
                                <span>&gt;</span>
                            </a>
                        </li>
                        <li>
                            <a href="p_certificate.html" class="flex justify-between items-center textdeco">
                                <span>자격증 관리</span>
                                <span>&gt;</span>
                            </a>
                        </li>
                        <li>
                            <a href="p_account.html" class="flex justify-between items-center textdeco">
                                <span>계좌 관리</span>
                                <span>&gt;</span>
                            </a>
                        </li>
                    </ul>
                </div> 
            </div>

            <!-- Main Content -->
            <div class="content">
                <div class="section">
                    <h3>보유기술</h3>
                    <div class="project-table">
                        <table>
                                <tr>
                                    <th>기술명</th>
                                    <th>경력</th>
                                </tr>
                                <tr>
                                    <td><a href="">JAVA</a></td>
                                    <td>10년</td>
                                </tr>
                        </table>
                    </div>
                        <button class="btn" id="openModal">기술 추가하기</button>
                </div>
            </div>
        </div>
    </div> <!-- wrapper -->
    <!-- 모달 -->
<div id="myModal" class="modal">
    <div class="modal-content">
    <span class="close">&times;</span>
    <div class="experience-container">
    
    <form id="experienceForm">
        <div class="form-group">
            <label for="companyName">기술명</label>
            <!-- <input type="text" id="companyName" name="companyName" required placeholder="기술명을 입력하세요"> -->
            <div class="skill_container">
                <div class="custom-select">
                <div class="select-box">
                    <input type="text" class="tags_input" name="tags" hidden />
                    <div class="selected-options">
                    </div>
                   <div class="arrow">
                        <i class="fa fa-angle-down"></i>
                   </div>
                </div> 
                <div class="options">
                    <div class="option-search-tags">
                        <input type="text" class="search-tags"
                        placeholder="검색어를 입력하세요" />
                        <button type="button" class="clear">
                            <!-- <i class="fa fa-close"></i> -->
                        </button>
                        </div>
                        <div class="option all-tags" data-value="All" style="display: none;">Select All</div>
                        <div class="option" data-value=".Net">.Net</div>
                        <div class="option" data-value="3dsMax">3dsMax</div>
                        <div class="option" data-value="Adobe Photoshop">Adobe Photoshop</div>
                        <div class="option" data-value="AfterEffect">AfterEffect</div>
                        <div class="option" data-value="Ajax">Ajax</div>
                        <div class="option" data-value="Android">Android</div>
                        <div class="option" data-value="Angular">Angular</div>
                        <div class="option" data-value="Apache">Apache</div>
                        <div class="option" data-value="Arduino">Arduino</div>
                        <div class="option" data-value="ASP">ASP</div>
                        <div class="option" data-value="ASP.NET">ASP.NET</div>
                        <div class="option" data-value="AutoCAD">AutoCAD</div>
                        <div class="option" data-value="AWS">AWS</div>
                        <div class="option" data-value="Azure">Azure</div>
                        <div class="no-result-message" >검색결과가 없습니다</div>
                </div>
                <span class="tag_error_msg error"></span>
            </div>
            <!-- <input type="button" class="btn_submit" value="Submit"> -->
        </div>








        </div>
        <div class="form-group">
            <label for="techStack">경력</label>
            <input type="text" id="techStack" name="techStack" required placeholder="예) 5년">
        </div>
        
        <div class="button-group">
            <button type="submit" class="submit-btn">추가</button>
            <button type="button" class="cancel-btn" onclick="closeModal()">취소</button>
        </div>
    </form>
    </div>
    </div>
    </div>

  <!-- footer -->
  <div id="footer"></div>
  <script src="../../js/header_footer.js"></script>
  <script src="../../js/script.js"></script> 
  <script>
    // 모달 열기
    const modal = document.getElementById("myModal");
    const openModalButton = document.getElementById("openModal");
    const closeModalButton = document.getElementsByClassName("close")[0];
    
    openModalButton.onclick = function() {
    modal.style.display = "block"; // 모달 열기
    }
    
    closeModalButton.onclick = function() {
    modal.style.display = "none"; // 모달 닫기
    }
    
    // 모달 외부 클릭 시 닫기
    window.onclick = function(event) {
    if (event.target == modal) {
    modal.style.display = "none"; // 모달 닫기
    }
    }
    
    // 취소 버튼 클릭 시 모달 닫기
    function closeModal() {
    modal.style.display = "none"; // 모달 닫기
    }
    </script>
    
</body>
</html>