<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;1,400&amp;display=swap" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/main.css" rel="stylesheet" />
    <link href="../css/ask.css" rel="stylesheet" />
    <title>자주하는질문</title>
    
</head>

<body>
<!-- 메뉴바 -->
<div th:replace="~{header :: header}"></div>

<div class="ask_container">
  <div class="header_text">
    <h2>자주 묻는 질문</h2>
  </div>

    <div class="faq-container">
        <div class="client_partner_faq current-page">
            <h5>
                <a th:href="@{/guide/c_ask}" class="client-link">클라이언트</a>&ensp;&ensp;|&ensp;&ensp;
                <a th:href="@{/guide/p_ask}" class="partner-link">파트너스</a>
            </h5>
        </div>
        <div class="faq-item">
            <div class="faq-question" onclick="toggleAnswer(this)">
                <span class="question-mark">Q</span>
                <span>프로젝트 등록은 어떻게 하나요?</span>
                <img src="../../img/down_icon.png" class="arrow-image" alt="Arrow" />
            </div>
                    
            <div class="faq-answer">
                가능합니다. 프로젝트 등록하실 때 ‘6. 모집 요건’의 ‘지원사업 여부’에서 ‘네, 정부지원사업 또는 연구 과제입니다.’를 체크해 주세요. 지원사업 요건에 맞는 파트너를 구하고 원활하게 계약할 수 있도록 도와드립니다.
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question" onclick="toggleAnswer(this)">
                <span class="question-mark">Q</span>
                <span>파트너의 포트폴리오를 확인할 수 있나요?</span>
                <img src="../../img/down_icon.png" class="arrow-image" alt="Arrow" />
            </div>
                
            <div class="faq-answer">
                가능합니다. 프로젝트 등록하실 때 ‘6. 모집 요건’의 ‘지원사업 여부’에서 ‘네, 정부지원사업 또는 연구 과제입니다.’를 체크해 주세요. 지원사업 요건에 맞는 파트너를 구하고 원활하게 계약할 수 있도록 도와드립니다.
            </div>
        </div>
        
        <div class="faq-item">
            <div class="faq-question" onclick="toggleAnswer(this)">
                <span class="question-mark">Q</span>
                <span>계약 진행은 어떻게 하나요?</span>
                <img src="../../img/down_icon.png" class="arrow-image" alt="Arrow" />
            </div>
                
            <div class="faq-answer">
                가능합니다. 프로젝트 등록하실 때 ‘6. 모집 요건’의 ‘지원사업 여부’에서 ‘네, 정부지원사업 또는 연구 과제입니다.’를 체크해 주세요. 지원사업 요건에 맞는 파트너를 구하고 원활하게 계약할 수 있도록 도와드립니다.
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question" onclick="toggleAnswer(this)">
                <span class="question-mark">Q</span>
                <span>온라인으로도 미팅이 가능한가요?</span>
                <img src="../../img/down_icon.png" class="arrow-image" alt="Arrow" />
            </div>
                
            <div class="faq-answer">
                가능합니다. 프로젝트 등록하실 때 ‘6. 모집 요건’의 ‘지원사업 여부’에서 ‘네, 정부지원사업 또는 연구 과제입니다.’를 체크해 주세요. 지원사업 요건에 맞는 파트너를 구하고 원활하게 계약할 수 있도록 도와드립니다.
            </div>
        </div>

        <div class="faq-item">
            <div class="faq-question" onclick="toggleAnswer(this)">
                <span class="question-mark">Q</span>
                <span>프로젝트를 등록하면 언제 매칭되나요?</span>
                <img src="../../img/down_icon.png" class="arrow-image" alt="Arrow" />
            </div>
                
            <div class="faq-answer">
                가능합니다. 프로젝트 등록하실 때 ‘6. 모집 요건’의 ‘지원사업 여부’에서 ‘네, 정부지원사업 또는 연구 과제입니다.’를 체크해 주세요. 지원사업 요건에 맞는 파트너를 구하고 원활하게 계약할 수 있도록 도와드립니다.
            </div>
        </div>
    </div>
    <div class="contact-button-container">
        <button class="contact-button" th:onclick="|location.href='@{/guide/new}'|">문의하기</button>
    </div>
    <div>
        
    </div>
</div>


 <!-- footer -->
 <div th:replace="~{footer :: footer}"></div>
<script>
    function toggleAnswer(questionElement) {
        const answerElement = questionElement.nextElementSibling; // 다음 형제 요소인 답변 요소 선택
        const arrowImage = questionElement.querySelector('.arrow-image'); // 화살표 이미지 선택
        
        if (answerElement.style.display === "block") {
            answerElement.style.display = "none"; // 답변 숨기기
            arrowImage.src = "../../img/down_icon.png"; // 화살표 이미지 변경
        } else {
            answerElement.style.display = "block"; // 답변 보이기
            arrowImage.src = "../../img/up_icon.png"; // 화살표 이미지 변경
        }
    }
</script>
</body>
</html>